---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/Sidebar.astro';
import { getUniqueTags } from '@/utils';

const posts = (await getCollection('blog', ({data}) => {
		return import.meta.env.PROD ? data.draft !== true : true;
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// only show 10 of the most recent tags
const tags = getUniqueTags(posts).slice(0,10);
---

<BaseLayout>
	<section class="flex gap-4 cody-bg">
		<div>
			<h1 class="text-lg font-bold mb-4">Posts</h1>
			<ul class="flex flex-col gap-4">
				{
					posts.map(post => (
						<li>
							<a href={`/blog/${post.slug}/`} class="post-item">
								<h4 class="cody-link inline font-bold" >{post.data.title}</h4>
							</a>
							<p class="date pr-2 mt-1">
								<FormattedDate date={post.data.pubDate} />
							</p>
							<p class="italic">{post.data.description}</p>
						</li>
					))
				}
				<!--
				{
					posts.map((post) => (
						<li>
							<div class="inline-flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-accent">
								<p class="date pr-2">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<a href={`/blog/${post.slug}/`} class="pl-2">
									<h4 class="cody-link font-bold" >{post.data.title}</h4>
								</a>
							</div>
							<p class="italic">{post.data.description}</p>
						</li>
					))
				}
				-->
			</ul>
		</div>
	</section>
	<aside class="sidebar" slot="sidebar">
		<h2 class="flex font-semibold text-lg items-center mb-4">
			<svg
				aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
				<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
				<path d="M6 9h-.01" />
			</svg>
			Tags
		</h2>
		<ul class="flex gap-2 flex-wrap mb-4">
			{tags.map(tag => (
				<li class="tag">
					{tag}
				</li>
			))}
		</ul>
		<a href="/tags" class="cody-link">See more -></a>
	</aside>
	<style>
		.post-item:before {
			content: "#";
			@apply text-accent-2;
		}	

		h1:before {
			content: "#";
			@apply mr-2 text-accent-2;
		}
	</style>
</BaseLayout>

