---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];
interface Props {
	post: CollectionEntry<"blog">;
}

const { 
	data,
	title, 
	description, 
	pubDate, 
	updatedDate, 
	heroImage, 
	slug, 
	publishDate, 
	ogImage,
	tags,
} = Astro.props;

const socialImage = ogImage ?? `/og-image/${slug}.png`;
const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
// const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
---

<BaseLayout title={title} description={description} image={socialImage}>
	<article>
		{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="mb-4"/>}
		<div class="prose dark:prose-invert prose-cody">
			<h1 class="text-3xl my-0">{title}</h1>
			<span class="font-semibold">
				<FormattedDate date={pubDate} dateTimeOptions={dateTimeOptions} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} dateTimeOptions={dateTimeOptions} />
						</div>
					)
				}
			</span>
			{tags && (
				<ul class="not-prose flex gap-2 flex-wrap">
					{tags.map(tag => (
						<li class="tag">
							{tag}
						</li>
					))}
				</ul>
			)}
			<hr class="my-4"/>
			<div class="prose-sm prose-headings:font-semibold prose-headings:ml-4 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none">
				<slot />
			</div>
		</div>
	</article>
</BaseLayout>
