---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../layouts/Sidebar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import SocialMediaLinks from '@/components/SocialMediaLinks';
import TOC from '@/components/TableOfContents';
import { siteConfig } from '../consts';

interface Props {
	post: CollectionEntry<"blog">;
	minutesRead
}

const post = Astro.props

const { 
	data: {
		title, 
		description, 
		pubDate, 
		updatedDate, 
		heroImage, 
		slug, 
		ogImage,
		tags,
	}
} = post;

const { headings, remarkPluginFrontmatter } = post.render && await post.render();
const { minutesRead } = remarkPluginFrontmatter;

const socialImage = ogImage ?? `/og-image/${slug}.png`;
const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};

const articleDate = updatedDate?.toISOString() ?? pubDate.toISOString();
---

<Layout title={title} description={description} image={socialImage} articleDate={articleDate}>
	<article class="cody-bg">
		{heroImage && <img width={1020} height={510} src={heroImage} alt="" class="mb-4"/>}
		<div class="prose dark:prose-invert prose-cody text-textColor">
			<h1 class="text-3xl my-0">{title}</h1>
			<span class="font-semibold text-textColor">
				<FormattedDate date={pubDate} dateTimeOptions={dateTimeOptions} />
				<span>
					/ {minutesRead}
				</span>
			</span>
			{
				updatedDate && (
					<div class="mb-2 italic">
						Last updated on <FormattedDate date={updatedDate} dateTimeOptions={dateTimeOptions} />
					</div>
				)
			}
			{tags && (
				<ul class="not-prose flex gap-2 flex-wrap">
					{tags.map(tag => (
						<li class="tag">
							<a href={`/tags/${tag}`}>{tag}</a>
						</li>
					))}
				</ul>
			)}
			<hr class="my-4"/>
			<div class="prose-sm prose-headings:font-semibold prose-headings:ml-4 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-accent prose-headings:before:content-['#'] prose-th:before:content-none">
				<slot />
			</div>
		</div>
	</article>
	<aside slot="sidebar">
		<div class="flex flex-col space-y-2">
			<h2 class="font-semibold text-lg text-textColor">{siteConfig.profile.author}</h2>
			{siteConfig.profile.description && (<p>{siteConfig.profile.description}</p>)}
			<SocialMediaLinks/>
			<span class="!my-4 text-accent" aria-hidden>---</span>
			<p>
				{description}
			</p>
		</div>
		{!!headings.length && <TOC headings={headings} />}
	</aside>
</Layout>

